*{
    box-sizing: border-box;
    margin:0;
    padding:0;
 }

html{
    font-size: 62.5%;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.4rem; 
    background-color: grey;
}

div#mainPage{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   margin-top: 2rem;
}

header h1{
   text-align: center;
   font-size: 4.5rem;
   padding: 1rem;
}

header p {
   width: 75%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding: 1rem;
}

div#contentIndex {
   text-align: center;
   margin-top: 2rem;  
}

div#contentIndex ul{
   display: inline-block;
   padding: 0;
   margin-bottom: 1rem;
}

div#contentIndex ul li {
   display: inline-block;
   vertical-align: top; 
   list-style-type: none;
   border: solid 1px black;
   border-radius: 5px;
   margin: 0 3rem 0 3rem;
   padding: 1rem 3rem 1rem 3rem; /* top right bottom left */
   width: 25rem;        /* Fast bredd */
   height: 15rem;       /* Fast höjd - justera efter behov */
   overflow: hidden;    /* Klipp bort innehåll som sticker ut */
}

div#contentIndex ul li a {
   text-decoration: none;
   font-weight: bold;
}

div#contentIndex ul li a:hover {
   text-decoration: underline;
}

div#contentIndex ul li p{
   margin-top: 1rem;
}

footer address{
   text-align: center;
   margin-top: 2rem;
   padding-bottom: 2rem;
}